*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: #f4d04e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    max-width: 384px;
    width: 100%;
    background: #fff;
    padding: 24px;
    border-radius:20px;  
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);

}
.card > img {
    width: 100%;
    display: block;
    margin-bottom: 24px;
    border-radius: 10px;
}
.card-content h3 {
    font-size: 12px;
    font-weight: 900;
    color: #000;
    margin-bottom: 12px;
    background-color: #f4d04e;
    padding: 4px 12px;
    border-radius: 4px;
    max-width: 82px;
    width: 100%;
}
.card-content p.date {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
}
.card-content h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    max-width: 288px;
    margin-bottom: 16px;
}
.card-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #7F7F7F;
}
.card-content .author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}
.card-content .author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card-content .author p {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 21px;
}





